# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/.project
.idea

bin/
logs/
*.log

# MiningHQ required files
mining_key
mining_key_dev
mining_key_live
rig_id
rig_id_dev
rig_id_live
